extends ../layout
block content
	.container.text-center
		div.col-sm-6.col-sm-offset-3
		h2  
			//-- Will show the personal number of the patient later on
			span.fa  Patient : #{user.personal_number}
		p 
			a(href="/mypatients/#{p_id}/addsurgery")
				span.btn.btn-default.btn-lg #{language.doctor.surgery}

			a#nav-form(href="/mypatients/#{p_id}/formrunner")
				span.btn.btn-default.btn-lg #{language.doctor.form}