extends ../layout
block content
 div.container
  div.col-sm-6.col-sm-offset-3 
   h2  
     span.fa.fa-sign-in  #{language.password.changePassword} 
   h3
    form(action='', method="post")
       input(type="hidden", name="id", value=user.id)
   
       div.form-group
          label #{language.password.password}
          input.form-control(type="password", name="password")
       
       div.form-group
          label #{language.password.confirmPassword}
          input.form-control(type="password", name="confirmpassword")   

        button.btn.btn-warning.btn-lg(style="float: right; margin-left:2%", type="submit") #{language.password.save}
      if (user.role ==0)
          button.btn.btn-warning.btn-lg(style="float: right", type="redirect" onclick="location.href = '/myprofile';" ) #{language.password.back}
      else 
          button.btn.btn-warning.btn-lg(style="float: right", type="redirect" onclick="location.href = '/';" ) #{language.password.back}
        
