doctype html
html(lang='sv')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')  
      link(rel='stylesheet', href='/css/styles.css')
    block js
      script(src='/lib/jquery/dist/jquery.min.js')
      script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
      script(src='/js/mypatients_master.js')
      script(src='/js/mypatients_detail.js')
      script(src='/js/formrunner.js')
      script(src='http://localhost:35729/livereload.js')
  // adding menu to layout-----------------------------------------
  div.container
    div.jumbotron.text-center
        h1
          span.fa.fa-medkit  eSauna
        //-if (!user)
          //-a.btn.btn-default(href="/login") #[span.fa.fa-user #{language.index.login}]
        if (user)
          p #{language.index.loggedInAs}: #{user.firstname + ' ' + user.lastname + '  - ' +  user.local.email} 
          //- If you are patient you should be able to edit your profile and fill in forms and change password
          if (user.role == 0)
              a.btn.btn-default(href="/form") #[span.fa.fa-user #{language.index.form}]
              a.btn.btn-default(href="/myprofile") #[span.fa.fa-user #{language.index.myprofile}]
              a.btn.btn-default(href="/password") #[span.fa.fa-user #{language.index.password}]
          //- If you are a doctor you should be able to create patient accounts    
          if (user.role == 1)
              a.btn.btn-default(href="/signup") #[span.fa.fa-user #{language.index.register}]
              a.btn.btn-default(href="/mypatients") #[span.fa.fa-user #{language.index.mypatients}]
              a.btn.btn-default(href="/password") #[span.fa.fa-user #{language.index.password}]
          //- If you are an administrator you should be able to create all kinds of accounts
          if (user.role ==2)
              a.btn.btn-default(href="/signup") #[span.fa.fa-user #{language.index.register}]
              a.btn.btn-default(href="/password") #[span.fa.fa-user #{language.index.password}]
          a.btn.btn-default(href="/logout") #[span.fa.fa-user #{language.index.logout}]
  //-------------------------------------------------------    
  body
    block content
 //-- body
    each error in errors
      div.alert.alert-danger= error
    each success in successes
      div.alert.alert-success= success
    
       
    
    
