extends layout

block content

 - var min_value = 0
 - var max_value = 100

 h2
  .panel-heading.text-center Vänligen svara på följande frågor
 form(method='post',action='')
  h3
    div(style="margin-left:2%")
     p 1. Hur har din smärta varit senaste timman? 
      br
      div(style="margin-left:2%")
       | Ingen smärta
       output(id="painValue")
         | #{max_value/2}
       input(type="range", name="pain", onchange="painValue.value=value", value=max_value/2, min=min_value, max=max_value)         
       | Värsta tänkbara
        
         
      br
     p 2. Har du tagit smärtstillande senaste timmarna?
      br
      h4
        div(style="margin-left:2%")
         input(type="radio", name="painkillers", value="yes")
         | Ja
         input(type="radio", name="painkillers", value="no")
         | Nej

       br
     p 3. Har du haft illamående/kräkning senaste timman?
      br
      h4
        div(style="margin-left:2%")
         | Inget illamående
         output(id="nauseaValue")
           | #{max_value/2}
         input(type="range", name="nausea", onchange="nauseaValue.value=value", value=max_value/2, min=min_value, max=max_value)
         | Flertal kräkningar

       br
     p 4. Är du påverkad av narkos/bedövning?
      br
      h4
        div(style="margin-left:2%")
         | Inte alls påverkad
         output(id="narcosisValue")
           | #{max_value/2}
         input(type="range", name="narcosis", onchange="narcosisValue.value=value", value=max_value/2, min=min_value, max=max_value)
         | Kraftigt påverkad
       br
     p 5. Har du kunnat Återuppta dina vanliga vardagsaktiviteter?
      br
      h4
        div(style="margin-left:2%")
         | Nej, inte alls
         output(id="dailyActivitiesValue")
           | #{max_value/2}
         input(type="range", name="dailyActivities", onchange="dailyActivitiesValue.value=value", value=max_value/2, min=min_value, max=max_value)
         | Ja, fullt ut


       br
     p 6. Har du Återgått till arbete eller annan vardagsrutin?
      br
      h4
        div(style="margin-left:2%")
         | Nej, inte alls
         output(id="routineValue")
           | #{max_value/2}
         input(type="range", name="routine", onchange="routineValue.value=value", value=max_value/2, min=min_value, max=max_value)
         | Ja, fullt ut 

       br
     p 7. Hur nöjd Är du med återhämtningen?
      br
      h4
        div(style="margin-left:2%")
         | Mycket missnöjd
         output(id="satisfiedValue")
           | #{max_value/2}
         input(type="range", name="satisfied", onchange="satisfiedValue.value=value", value=max_value/2, min=min_value, max=max_value)
         | Mycket nöjd  

       br
     p 8. Markera det besvär som är värst?
      br
      h4
        div(style="margin-left:2%")
         input(type="radio", name="worstThing", value="pain")
         | Smärta
         input(type="radio", name="worstThing", value="nausea")
         | Illamående    
         input(type="radio", name="worstThing", value="immobility")
         | Orörlighet  
         input(type="radio", name="worstThing", value="insomnia")
         | Sömnbesvär 
         input(type="radio", name="worstThing", value="fever")
         | Feber 
         input(type="radio", name="worstThing", value="noSymptoms")
         | Inget besvär
       br

     p 9. Bedöm appens användarvänlighet
      br
      h4
        div(style="margin-left:2%")
         | Mycket svåranvänd
         output(id="assessValue")
           | #{max_value/2}
         input(type="range", name="assess", onchange="assessValue.value=value", value=max_value/2, min=min_value, max=max_value)
         |  Lätt att använda
         br
     input(type="submit")