extends layout

block content

 - var min_value = 0
 - var max_value = 100

 h2
  .panel-heading.text-center #{language.form.pleaseAnswer}
  if pageError
    p Något blev fel!
 form(method='post',action='')
  h3
    div(style="margin-left:2%")
     p 1. #{language.form.questionPain} 
      br
      div(style="margin-left:2%")
       | Ingen smärta
       output(id="painValue")
         | #{pain}
       input(type="range", name="pain", onchange="painValue.value=value", value="#{pain}", min=min_value, max=max_value)         
       | Värsta tänkbara
        
         
      br
     p 2. #{language.form.questionPainkillers}
      br
      h4
        div(style="margin-left:2%")
         input(type="radio", name="painkillers", value="yes")
         | Ja
         input(type="radio", name="painkillers", value="no")
         | Nej

       br
     p 3. #{language.form.questionNausea}
      br
      h4
        div(style="margin-left:2%")
         | Inget illamående
         output(id="nauseaValue")
           | #{nausea}
         input(type="range", name="nausea", onchange="nauseaValue.value=value", value="#{nausea}", min=min_value, max=max_value)
         | Flertal kräkningar

       br
     p 4. #{language.form.questionNarcosis}
      br
      h4
        div(style="margin-left:2%")
         | Inte alls påverkad
         output(id="narcosisValue")
           | #{narcosis}
         input(type="range", name="narcosis", onchange="narcosisValue.value=value", value="#{narcosis}", min=min_value, max=max_value)
         | Kraftigt påverkad
       br
     p 5. #{language.form.questionDaily}
      br
      h4
        div(style="margin-left:2%")
         | Nej, inte alls
         output(id="dailyActivitiesValue")
           | #{dailyActivities}
         input(type="range", name="dailyActivities", onchange="dailyActivitiesValue.value=value", value="#{dailyActivities}", min=min_value, max=max_value)
         | Ja, fullt ut


       br
     p 6. #{language.form.questionRoutine}
      br
      h4
        div(style="margin-left:2%")
         | Nej, inte alls
         output(id="routineValue")
           | #{routine}
         input(type="range", name="routine", onchange="routineValue.value=value", value="#{routine}", min=min_value, max=max_value)
         | Ja, fullt ut 

       br
     p 7. #{language.form.questionSatisfied}
      br
      h4
        div(style="margin-left:2%")
         | Mycket missnöjd
         output(id="satisfiedValue")
           | #{satisfied}
         input(type="range", name="satisfied", onchange="satisfiedValue.value=value", value="#{satisfied}", min=min_value, max=max_value)
         | Mycket nöjd  

       br
     p 8. #{language.form.questionWorst}
      br
      h4
        div(style="margin-left:2%")
         input(type="radio", name="worstThing", value="pain")
         | #{language.form.worst.pain}
         input(type="radio", name="worstThing", value="nausea")
         | #{language.form.worst.nausea}    
         input(type="radio", name="worstThing", value="immobility")
         | #{language.form.worst.immobility}  
         input(type="radio", name="worstThing", value="insomnia")
         | #{language.form.worst.insomnia}  
         input(type="radio", name="worstThing", value="fever")
         | #{language.form.worst.fever}  
         input(type="radio", name="worstThing", value="noSymptoms")
         | #{language.form.worst.noSymptoms} 
       br

     p 9. #{language.form.questionAssess}
      br
      h4
        div(style="margin-left:2%")
         | Mycket svåranvänd
         output(id="assessValue")
           | #{assess}
         input(type="range", name="assess", onchange="assessValue.value=value", value="#{assess}", min=min_value, max=max_value)
         |  Lätt att använda
         br
     input(type="submit")